<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite TestNG x Selenium">

    <test name="Test Actions">
        <classes>
            <class name="com.juaracoding.automationtesting.hooks.HookTest" />
            <class name="com.juaracoding.automationtesting.test.SignInTest" />
            <class name="com.juaracoding.automationtesting.test.CategoryTest" />
        </classes>
    </test>

</suite>



